.navbarContainer {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: solid;
  border-color: black;
  border-width: 1px;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 9999;
}

.navbarContainer.scrolled,
.navbarContainer:hover {
  background-color: goldenrod !important;
  color: white;
  border-left: none;
  border-right: none;
}

.outerLinks {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  gap: 20vw;
  font-weight: 900;
}

.link {
  padding: 2vw;
  text-align: center;
  font-size: 1.3rem;
  text-decoration: none;
  color: rgb(0, 0, 136);
}

.link:hover {
  text-decoration: underline;
}

.logo {
  position: absolute;
  z-index: 10;
  display: flex;
}

.logo img {
  height: 8vh;
  width: 8vw;
  border: solid;
  border-color: black;
  border-width: 1px;
}

.logo.scrolled {
  border: solid;
  border-color: black;
  border-bottom: none;
  border-top: none;
}
