/* NAVBAR */
.navbar {
  color: orange;
  display: flex;
  height: 13.5vh;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* BACKGROUND VIDEO */
.video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 13.5vh;
  object-fit: cover;
  z-index: -1;
}

/* NAVIGATION MENU */
.menu {
  display: flex;
  flex-direction:row;
  position: relative;
  top:0;
  width: 100vw;
  z-index: 1;
  padding-bottom: 3em;
}

.menu a {
  color: white;
  font-size: 1.4rem;
  min-width: 150px; /* Prevents tiny links */
  padding-top: 8vh;
  position: relative;
  display: flex; /* Ensures text and border are centered */
  font-family: cursive;
  white-space: nowrap;
  margin: 0 auto; /* Centers horizontally */
  transition: all 0.6s;
}


.menu a:hover {
  color: rgba(40, 83, 255, 0.726);

}

.menu a.active{
  color: #f58426;
}

/*SMALL SCREEN !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media (max-width: 768px) {
  .burger {
    font-size: 2.4rem;
    cursor: pointer;
    color: rgb(255, 123, 0);
    background: none;
    position: relative;
    left: 10px;
    top: 0;
    z-index: 1001;
    transition: transform 0.8s ease, color 0.6s;
  }
  
  /* When menu is open */
  .burger.active {
    transform: rotate(90deg); /* Keeps rotation after clicking */
  }
  
  .burger:hover {
    color: rgb(255, 183, 0);
  }

  .menu {
    display: none;
  }

  .menu.show {
    display: flex;
    flex-direction:column;
    background-color: rgb(255, 123, 0);
    position: fixed;
    top: 13.5vh;
    left: 0;
    width: auto;
    height: auto;
    padding: 10px;
    opacity: .9;
    z-index: 1000;
    transition: 0.8s ease-out, 0.8s ease-in;
  }


  .menu a{
    display: inline-block;
    color: black;
    font-size: 1rem;
    white-space: nowrap;
    padding-top: 0;
    width: auto;
    margin: 5px;
  }

  .menu a:hover {
    color: rgb(86, 82, 69);
  
  }
  
  .menu a.active{
    color: rgba(50, 91, 255, 0.85);
  }

}

@media (min-width: 769px) {
  .burger {
      display: none; /* Hide burger menu on large screens */
  }

  .menu {
      display: flex;
      flex-direction: row;
  }
}
